.pokedex {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: red;
    width: 400px;
    height: 200px;
}

.imagen{
    width: 100px;
}

.pokefoto {
    background-color: white;
    border-color: black;
    border-style: solid;
    border-radius: 5px;
    max-width: 180px;
}

.pokeinfo{
    display: flex;
    flex-direction: column;

}

.pokescreen {
    background-color: grey;
    color: aqua;
    width: 175px;
    height: 100px;
    font-size: 12px;

}